/* Header and Navbar */
header {
  background-color: #f8f9fa; /* Light background */
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #4C9A2A; /* Olive color for hover */
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .menu-links {
    display: none;
  }

  .menu-links.open {
    display: block;
  }
}
