@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure responsive layout and proper video sizing on all screens */
html,
body {
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom utility classes */
@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient-shift 6s ease infinite;
    -webkit-animation: gradient-shift 6s ease infinite;
  }

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
